body {
    margin: 0;
    padding: 0;
    background: #f3e5e9;
}

h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    font-size: 10em;
}

h1::before, h1::after {
    content: attr(data-name);
    color: #262626;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .3s;
}

h1::before {
    clip-path: polygon(55% 0, 0 0, 0 100%, 35% 100%);
    -webkit-clip-path: polygon(55% 0, 0 0, 0 100%, 35% 100%);
    /*background: #f00;*/
}

h1::after {
    clip-path: polygon(55% 0, 100% 0, 100% 100%, 35% 100%);
    -webkit-clip-path: polygon(55% 0, 100% 0, 100% 100%, 35% 100%);
    /*background: yellow;*/
}

h1:hover::before {
    top: -5px;
    left: -10px;
    transform: rotate(-5deg);
}

h1:hover::after {
    top: 5px;
    left: 10px;
    transform: rotate(5deg);
}